.calculator {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

input {
  width: 300px;
  height: 70px;
  font-size: 18px;
  margin-bottom: 10px;
  text-align: right;
  border-bottom: 5px solid #80a6bb;
  border-top: 1px solid transparent;
  border-right: 1px solid transparent;
  border-left: 1px solid transparent;
  padding:5px;
  background-color: #f0faeb;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

button {
  width: 70px;
  height: 70px;
  font-size: 18px;
  border: none;
  outline: none;
  cursor: pointer;
  border-bottom: 5px solid #80a6bb;
  transition: all ease-in-out .3s;
}

button:hover {
  background-color: #80a6bb;
  color: white;
}


.operator{
  background-color: #eefe93;
}